@using MaterialColorUtilities.Schemes
@using MaterialColorUtilities.Utils

<div class="d-flex">
    <ColorItem Name="Primary" Color="@Scheme.Primary" OnColor="@Scheme.OnPrimary" BorderRadius="4px 0 0 0" />
    <ColorItem Name="PrimaryContainer" Color="@Scheme.PrimaryContainer" OnColor="@Scheme.OnPrimaryContainer" BorderRadius="0 4px 0 0" />
</div>
<div class="d-flex">
    <ColorItem Name="Secondary" Color="@Scheme.Secondary" OnColor="@Scheme.OnSecondary" />
    <ColorItem Name="SecondaryContainer" Color="@Scheme.SecondaryContainer" OnColor="@Scheme.OnSecondaryContainer" />
</div>
<div class="d-flex">
    <ColorItem Name="Tertiary" Color="@Scheme.Tertiary" OnColor="@Scheme.OnTertiary" />
    <ColorItem Name="TertiaryContainer" Color="@Scheme.TertiaryContainer" OnColor="@Scheme.OnTertiaryContainer" />
</div>
<div class="d-flex">
    <ColorItem Name="Error" Color="@Scheme.Error" OnColor="@Scheme.OnError" />
    <ColorItem Name="ErrorContainer" Color="@Scheme.ErrorContainer" OnColor="@Scheme.OnErrorContainer" />
</div>
<div class="d-flex">
    <ColorItem Name="SurfaceVariant" Color="@Scheme.SurfaceVariant" OnColor="@Scheme.OnSurfaceVariant" />
    <ColorItem Name="InverseSurface" Color="@Scheme.InverseSurface" OnColor="@Scheme.InversePrimary" />
</div>
<div class="d-flex">
    <ColorItem Name="Background" Color="@Scheme.Background" OnColor="@Scheme.OnBackground" />
    <ColorItem Name="Outline" Color="@Scheme.Outline" OnColor="@Scheme.Background" />
</div>
<div class="d-flex relative">
    <ColorItem Color="@Scheme.Surface" BorderRadius="0 0 0 4px" />
    <ColorItem Color="@Scheme.Surface1" />
    <ColorItem Color="@Scheme.Surface2" />
    <ColorItem Color="@Scheme.Surface3" />
    <ColorItem Color="@Scheme.Surface4" />
    <ColorItem Color="@Scheme.Surface5" BorderRadius="0 0 4px 0" />
    <div class="absolute pa-2" style="color: @(StringUtils.HexFromArgb(Scheme.OnSurface))">
        Surface 0-5
    </div>
</div>

@code {
    [Parameter] [EditorRequired] public Scheme<uint> Scheme { get; set; }
}